.header {
    background-color: #6dabfd;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 60px; 
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0,0,0,.1); 
}

.logo .logo-img {
    height: 40px; 
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    margin: 0 15px; 
    position: relative;
    cursor: pointer;
}

.icon:hover {
    opacity: 0.7; 
}

.badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 0.75em;
}

.dropdown {
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown ul li {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .dropdown ul li a {
    color: black;
    text-decoration: none;
    display: block;
  }
  
  .dropdown ul li a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown ul li:last-child {
    border-bottom: none;
  }

  
  .user-profile-image {
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    background-color: transparent; 
    object-fit: cover; 
  }